{
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "quoteProps": "as-needed"
}
